<% provide(:title, "Home") %>


<div class="jumbotron">
  <h1>Bienvenido ...</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Registrate!</a></p>
</div>

<img alt="Brand" src="assets/rails.png">