<% provide(:title, "Home") %>


<div class="jumbotron">
  <div class="container">
  <h1>Accounting Software SB, Inc.</h1>
  <p>Our goal at Accounting Sotware SB, Inc. is to provide tools to easily handle your needs from anywhere and any device.</p>
  <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Registrate!</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 aqua-bg content-box">
      <h2>Services</h2>
      <p>We specialize in web applications to make your data available as fast as possible, form wherever you
      want to access, and it is customize to be used from any device of your choice. Making you independent of OS. </p>
    <button class="btn btn-secondary">View Details</button>
    </div>
    <div class="col-sm-6 col-md-4 lime-bg content-box">
      <h2>Products</h2>
      <p>Looking for specific solutions to your company. If you want to integrate your existing apps with ACSB,
       this is the right choice for you. </p>
      <button class="btn btn-secondary">More Info</button>
    </div>
    <div class="col-sm-12 col-md-4 fuchsia-bg content-box ">
      <h2>Clients</h2>
      <p>We have worked with several companies around the country, in a variety of sectors of the industry. <br>
      independent of your size we have products that can be adapted to your specific needs.
      </p>
      <button class="btn btn-primary">Register Now</button>
    </div>
  </div>

</div>
<div class="container video info">
<iframe width="560" height="315" src="https://www.youtube.com/embed/5e8DNQgJN88" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</div>
