<% provide(:title, "Home") %>


<div class="jumbotron">
  <h1>Bienvenido ...</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Registrate!</a></p>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/5e8DNQgJN88" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<img alt="Brand" src="assets/rails.png">