<% provide(:title, "Menu") %>
<h1>Menu </h1>
<div class="bs-glyphicons">
  <ul class="bs-glyphicons-list">
    <li>
      <a href="/people" class="">

        <i class="fa fa-address-book fa-5x icon-black" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-black">Terceros</span></h4>
      </a>
    </li>
    <li>
      <a href="/countries">
      <i class="fa fa-globe fa-5x icon-brown" aria-hidden="true"></i>
      <h4><span class="glyphicon-class icon-brown">Paises</span></h4>
      </a>
    </li>
    <li>
      <a href="/clases" class="">

        <i class="fa fa-book fa-5x icon-purple" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-purple">Puc</span></h4>
      </a>
    </li>
    <li>
      <a href="/services">
        <i class="fa fa-cogs fa-5x icon-gray" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-gray">Configuración</span></h4>
      </a>
    </li>
    <li>
      <a href="/services" class="">

        <i class="fa fa-briefcase fa-5x icon-blue" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-blue">Servicios</span></h4>
      </a>
    </li>
    <li>
      <a href="/invoices">
        <i class="fa fa-file-text-o fa-5x icon-green" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-green">Facturas</span></h4>
      </a>
    </li>
  </ul>
</div>
