<% provide(:title, "Settings") %>
<h1>Configuraciones </h1>
<div class="bs-glyphicons">
  <ul class="bs-glyphicons-list">
    <li>
      <a href="/document_types" class="">

        <i class="fa fa-address-card fa-5x icon-black" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-black">Tipo de documentos</span></h4>
      </a>
    </li>

    <li>
      <a href="/cost_centres" class="">

        <i class="fa fa-cubes fa-5x icon-green" ></i>
        <h4><span class="glyphicon-class icon-green">Centro de costos</span></h4>
      </a>
    </li>
  </ul>


</div>
