<h1>Editing Withholding Tax Location</h1>

<%= render 'form', withholding_tax_location: @withholding_tax_location %>

<%= link_to 'Show', @withholding_tax_location %> |
<%= link_to 'Back', withholding_tax_locations_path %>
