

@import "bootstrap-sprockets";
@import "bootstrap";

/* To avoid the fixed-menu of overlapping with other content */
body {
  padding-top: 60px;
}
/*
footer {
  border-top: 1px solid #EAEAEA;
}
*/

/*When list of objects is shown hide the save button */
.save-button-list{
  display: none;
}