


/* To avoid the fixed-menu of overlapping with other content */
body {
  padding-top: 60px;
  background-color: #f5f5f5;
}
/*
footer {
  border-top: 1px solid #EAEAEA;
}
*/

/*When list of objects is shown hide the save button */
.save-button-list{
  display: none;
}

li.ui-menu-item {list-style-type: none;}

.bs-glyphicons {
  margin: 0 -10px 20px;
  overflow: hidden;
}

.bs-glyphicons-list {
  padding-left: 0;
  list-style: none;
}

.bs-glyphicons li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff;
}

.bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}

.icon-white {
  color: white;
}

.icon-red {
  color: red;
}

.icon-green {
  //color: green;
  color: limegreen;
}

.icon-yellow {
  color: yellow;
}

.icon-black {
  color: black;
}

.icon-blue {
  color: blue;
}

.icon-gray {
  color: gray;
}

.icon-purple {
  color: purple;

}

.icon-brown {
  color: brown;
}

.checkbox {
  margin-top: 0px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#header-img{
  color: white;
  width: 50px;
  height: auto;
  border-radius: 10%;
}

iframe {
  margin-top: 5%;
  margin: auto;
}

.video {
  
  margin-top: 5% ;
}

.aqua-bg {
  background-color: #7FDBFF;
}

.lime-bg {
  background-color: #01FF70;
}

.fuchsia-bg {
  background-color: #F012BE;
}

.content-box{
  height: 250px;
  padding: 2%;
  border-radius: 5%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.center-text {
  text-align: center;
}


.alert {
  width: 50%;
  margin: auto;
}

div .pagination {
  display: flex;
  justify-content: center;
}

@import "bootstrap-sprockets";
@import "bootstrap";