<footer>

  <na class="navbar ">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

  </na>
</footer>