<footer>

  <na class="navbar ">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/about"> © 2018 by Accounting Software Sb, Inc.</a></li>
        <li><a href="/contact">info@accountingsoftwaresb.com</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

  </na>
</footer>